.nav-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4% 5%;
  font-size: 1.2rem;
  font-family: sans-serif;
  width: 90%;
  /* border: 1px solid black; */
  box-shadow: rgba(48, 47, 47, 0.2) 0px 8px 24px;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.7rem;
}

.heading {
  display: flex;
  align-items: center;
  flex-basis: 10%;
  font-size: 1.4rem;
  color: rgb(255, 1, 213);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 30%;
  color: rgb(255, 1, 213);
}

.nav-items span {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.selected-link {
  border-bottom: 3px solid rgb(0, 0, 0);
}
.nav-link {
  color: rgb(255, 1, 213);
  text-decoration: none;
}

.account-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-profile span {
  margin-left: 0.29rem;
}
