.signUpPageContainer {
  width: 70%;
  display: flex;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 40px;
}

.imageSection,
.signUpDetailsSection {
  flex-basis: 50%;
}

.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 4, 213);
}

.imageSection img {
  width: 95%;
  object-fit: contain;
  flex-basis: 85%;
}

.imageSection span {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  width: 85%;
  margin-top: 0.6rem;
  align-self: center;
  flex-basis: 15%;
}

.signUpDetailsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 10px;
}

.signUpDetailsSection form {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  width: 80%;
}

.signUpDetailsSection form label {
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.form-title {
  font-size: 2rem;
  margin-top: 1rem;
  color: black;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
  flex-basis: 10%;
}

.inputs {
  display: block;
  width: 100%;
  padding: 15px 15px;
  margin-top: 0.3rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

.inputs:focus {
  background-color: white;
  border: 1px solid black;
}

.signUpBtn {
  padding: 10px 5px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 0.58rem;
  font-size: 1rem;
  width: 60%;
  align-self: center;
  border: none;
  margin-top: 1.17rem;
}

.login-link {
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  align-self: center;
  font-size: 1rem;
  margin-bottom: 20px;
}

.links {
  color: blue;
  text-decoration: none;
}
